body
{
font-family:system-ui,Roboto,Arial;
margin:0;
padding:20px;
background:#c92a06;
}

.container
{
max-width:1000px;
margin:0 auto;
background:#fff;
padding:20px;
border-radius:8px;
box-shadow:0 6px 18px rgba(0, 0, 0, 0.488);
}

h1
{
margin-top:0;
color: #fd2e00;
}

h2
{
color: #fd2e00;
}

section
{
margin-bottom:24px;
}

table
{
width:100%;
border-collapse:collapse;
}

td,th
{
padding:8px;
border:1px solid #ddd;
}

form input,form textarea
{
display:block;
margin:6px 0;
padding:8px;
width:100%;
max-width:400px;
}

button
{
padding:8px 12px;
}
